<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Presentacion.Properties.Settings.cn" connectionString="Data Source=DESKTOP-JQM79AM\SQLEXPRESS;Initial Catalog=BIM_DB1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>